/*Set box-sizing to border-box*/
*, *::before, *::after {box-sizing: inherit; }

html {
	box-sizing: border-box;
    height: 100%;
    display: flex;
}

body {
    display: flex;
}

/*Allowed me to use the font within a saved file, and give it a custom name (font-family)*/
@font-face {
    font-family: odinLogo;
    src: url(Norse-Bold.otf);
}

/*Always put the background image in the CSS, not the HTML.*/
#background {
background-image: url("SageStith.jpg");
background-repeat: no-repeat;
padding-top: 200px;
padding-bottom: 200px;
align-self: stretch;
width: 60vw;
height: 100vh;;
background-size: cover;
background-position: center;
}

h1 {
    margin: 0;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0;
    font-family: odinLogo;
}


.logo {
    width: 9rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

/*Position: absolute allowed me to overwrite the location of the citing*/
cite {
    color: white;
    position: absolute; 
    bottom: .5rem;
    left: 10rem;
}

.intro {
    font-size: 1.5rem;
    margin: 0;
    padding: 8rem 26rem 3rem 5rem;
    background-color: rgb(141, 171, 135);
    font-weight: bold;
    font-family: serif;
}

form {
    padding-right: 26rem;
    padding-left: 5rem;
    display: flex;
    flex-wrap: wrap;
}

/*Width 100% allows the box to take up the entire row*/
.sec1 {
    margin: 0;
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: serif;
    width: 100%;
}

/*Each div will take up 50% space, hence 2 divs per row*/
form div {
    flex: 50%;
}

/*Used to visually put the label titles on top of the input fields*/
input, label {
    display: block;
}

.name {
    
}

/*width allowed the button to occupy it's own row*/
.crbutton {
    width: 100%;
}



/*
.container-2 {
    padding-right: 26rem;
    padding-left: 5rem;
    padding-top: 8rem;
} */
